.button {
    background-color: #66ccff;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: "Uni Sans Regular" src:url(Uni Sans Regular.otf);
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color:#ec008c; 
    color: white; 
    border: 2px solid #ec008c;
	position:absolute;
	left:746px;
    top:300px;
	width:131px;
}

.button1:hover {
    background-color: white;
    color: black;
}

.button2 {
    background-color: #ec008c; 
    color: white; 
    border: 2px solid #ec008c;
	position:absolute;
	left:350px;
    top:480px;
	width:100px;
}

.button2:hover {
    background-color: white;
    color: black;
}

.button3 {
    background-color: #ec008c; 
    color: white; 
    border: 2px solid #ec008c;
	position:absolute;
	left:380px;
    top:540px;
	width:100px;
}

.button3:hover {
    background-color: white;
    color: black;
}

.button4 {
    background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:490px;
    top:300px;
	width:130px;
}

.button4:hover {
    background-color: white;
    color: black;
}
.button5 {
    background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:625px;
    top:310px;
	width:110px;
}

.button5:hover {
    background-color: white;
    color: black;
}

.button6 {
    background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:597px;
    top:505px;
	width:120px;
}

.button6:hover {
    background-color: white;
    color: black;
}

.button7{
	background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:1000px;
    top:550px;
	width:90px;
}

.button7:hover {
    background-color: white;
    color: black;
}

.button8{
	background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:1093px;
    top:640px;
	width:180px;
}

.button8:hover {
    background-color: white;
    color: black;
}

.button9{
	background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:1315px;
    top:605px;
	width:155px;
}

.button9:hover {
    background-color: white;
    color: black;
}

.button10{
	background-color: #3a5dae;
    color: white;
    border: 2px solid #3a5dae;
	position:absolute;
	left:1493px;
    top:600px;
	width:200px;
}

.button10:hover {
    background-color: white;
    color: black;
}

.button11{
	background-color: #bdbd00;
    color: white;
    border: 2px solid #bdbd00;
	position:absolute;
	left:885px;
    top:458px;
	font-size:11px;
	padding: 1px 16px;
	width:50px;
}

.button11:hover {
    background-color: white;
    color: black;
}

.button12{
	background-color: #bdbd00;
    color: white;
    border: 2px solid #bdbd00;
	position:absolute;
	left:812px;
    top:515px;
	width:140px;
}

.button12:hover {
    background-color: white;
    color: black;
}

.button13{
	background-color: #bdbd00;
    color: white;
    border: 2px solid #bdbd00;
	position:absolute;
	left:833px;
    top:710px;
	width:130px;
}

.button13:hover {
    background-color: white;
    color: black;
}

.image {
	max-width:700px;
}

.image1{
    max-width:700px;
	max-height:700px;
}

#image2{
    width:100px;
	height:50px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.box{ 
  background-color: #3a5dae;
  position: absolute;
  height: 30%;
  width: 195%;
  left: 1%;
  top: 0%;
  z-index:0;
}

#overlay{
    position:absolute;
	top:-18px;
	left:850px;
	width:260px;
	height:170px;
	z-index:1;
}
